<a href="https://colab.research.google.com/github/saikumarreddykorsapati-source/DataScience_Masters_Assignments/blob/main/DSM_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)

Values = 'hello', -87.8, 6

Expressions = *, -, /, +

---

2)

Difference between string and variable :

String : It is a type of variable, sequential collections of characters, usually denoted in single (' ') or double (" ") quotation marks. A string with no characters often considered as empty string, it is immutable.

Variable: It is used to store values, refers to the datavalues located in the memory, it can be of any type either string, int, float.

Example : x = "String_value" x is variable, "String_value" is string type of data

Note : Python has ability to understand the type of the variable automatically.



---

3)

Three different data types are : a) String, b) int, c) bool

a) String : Anything between single/double quotes becomes string, immutable.
    eg: x = "String_Value", here String_Value in double quotes is string value and x is string type variable. 

b) Int : whole numbers are considered as integer values, immutable.
    eg: x = 2, here 2 is integer value and x is integer type variable.

c) Boolean : represents two values True or False, used to represent truth values (Yes/No) of an expression.
    eg: 1==1 True , 2<1 False



---

4)

An expression is made up of operators, variables and operands that yeild a result value.
An expression is evaluated as per the precedence of its operators. eg: x = 3 + 2

---

5)

Major difference between expression and statement is expressions create new values on execution whereas statements returns nothing on execution.


---

6) 

if we execute 



```
bacon = 22

bacon + 1
```



as a result of end of file execution it returns last updated value ie., 23

suppose if we print bacon it returns 22.


---

7)



```
'spam' +  'spamspam'

'spam'*3
```


the output will be same for above two terms ie., 'spamspamspam'.


---

8)

As per the variable naming rule, variable cannot be started with numbers, but with alphabets and underscore. so eggs is valid where as 100 is invalid.


---

9)

int() -function to get integer version of values, 

float()  -function to get floating point number version of values,

str()  -function to get string version of values

---

10)

`'I have eaten' + 99 + 'burritos' `

error is here we're tring to concatinate str with integer which is not possible, we can only concatinate string values with string values only.

solution to eradicate this error is: 

`'I have eaten' + str(99) + 'burritos'`

using str() we are typecasting integer value to string type, this will fix the error.